! terminal
xterm*title: Xterm
xterm*termName: xterm-265color
xterm*locale: true

! font
xterm*faceName: CodeNewRoman Nerd Font Mono 
xterm*faceSize: 16

! vt font menu: Unreadable
xterm*faceSize1: 8
! vt font menu: Tiny
xterm*faceSize2: 10
! vt font menu: Small
xterm*faceSize3: 12
! vt font menu: Medium
xterm*faceSize4: 16
! vt font menu: Large
xterm*faceSize5: 22
! vt font menu: Huge
xterm*faceSize6: 24

! bg and fg colour
!TomorrowNightEighties
#define t_background        #181512
#define t_current_line      #9a875f
#define t_selection         #504339
#define t_foreground        #bea492
#define t_comment           #999999
#define t_red               #8c644c
#define t_orange            #908a66
#define t_yellow            #9c956e
#define t_green             #746c48
#define t_aqua              #4b5c5e
#define t_blue              #646a6d
#define t_purple            #605655


*.foreground:   t_foreground
*.background:   t_background
*.cursorColor:  #bea492

! Black / Grey
*.color0:       #332d29
*.color8:       #817267

! Red / Bright Red
*.color1:       t_red
*.color9:       #9f7155

! Green + Bright Green
*.color2:       t_green
*.color10:      #857b52

! Yellow (Orange) + Bright Yellow (Yellow)
*.color3:       t_orange
*.color11:      t_yellow

! Blue + Bright Blue
*.color4:       t_blue
*.color12:      #71777a

! Magenta (Purple) + Bright Magenta
*.color5:       t_purple
*.color13:      #656565

! Cyan (Aqua) + Bright Cyan
*.color6:       t_aqua
*.color14:      #556d70

! Light Grey (Selection) + White (Current Line)
*.color7:       t_selection
*.color15:      t_current_line

! Scroll bar
xterm*vt100.scrollBar: false
! xterm*scrollBar: true
xterm*rightScrollBar: true
xterm*scrollTtyOutput: false
xterm*saveLines: 15000

! copy/paste to clipboard (mouse highlight = copy; shift+Insert = paste) 
xterm*selectToClipboard: true

! Select text 
xterm*highlightSelection: true

! remove trailing spaces
xterm*trimSelection: true

! keybindings overrides

xterm*vt100.translations: #override \n\
	Ctrl <Key>-: smaller-vt-font() \n\
	Ctrl <Key>+: larger-vt-font() \n\
	Ctrl <Key>0: set-vt-font(d) \n\
	Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\


