! for st
! bg and fg colour
st.foreground:   #bea492
st.background:   #181512
st.cursorColor:  #daba8b

! black
st.color0:       #48483e
st.color8:       #76715e

! red
st.color1:       #dc2566
st.color9:       #fa2772

! green
st.color2:       #8fc029
st.color10:      #a7e22e

! yellow
st.color3:       #d4c96e
st.color11:      #e7db75

! blue
st.color4:       #55bcce
st.color12:      #66d9ee

! magenta
st.color5:       #9358fe
st.color13:      #ae82ff

! cyan
st.color6:       #56b7a5
st.color14:      #66efd5

! white
st.color7:       #acada1
st.color15:      #cfd0c2

! dmenu colors
dmenu.background: #181512
dmenu.foreground: #76715e
dmenu.selbackground: #76715e
dmenu.selforeground: #181512
