! for st
! bg and fg colour
st.foreground:   #f4baff
st.background:   #1C0D2A
st.cursorColor:  #D196F7

! black
st.color0:       #42423C
st.color8:       #868278

! red
st.color1:       #B82E5F
st.color9:       #FF055D

! green
st.color2:       #71981E
st.color10:      #9DDF14

! yellow
st.color3:       #AC9F32
st.color11:      #F0D912

! blue
st.color4:       #4094A3
st.color12:      #05CEF3

! magenta
st.color5:       #643EA9
st.color13:      #9B69F5

! cyan
st.color6:       #56B0A6
st.color14:      #00FCCC

! white
st.color7:       #A2A29D
st.color15:      #E8E9CF

! dmenu colors
dmenu.background: #1C0D2A
dmenu.foreground: #AB73D9
dmenu.selbackground: #AB73D9
dmenu.selforeground: #1C0D2A

! cursor theme
Xcursor.theme: fauna 

